.custom-input {
    height: 60px !important;
    font-size: 30px;
    text-align: center;
}
.custom-input::placeholder{
    font-size: 30px;
    text-align: center;
}
.single-box.balance {
    font-size: 24px;
}
.c-point{
    cursor: pointer;
}
table tr{
    color: white;
}
table tr td {
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
    border-top: 0px !important;
    padding: 13px 20px !important;
    border: 3px solid #052146;
}
@media screen and (min-width: 768px) and (max-width:1199px) {
    table tr td {
        padding: 8px 14px !important;
    }
}
table tr td input{
    background: transparent;
    border: 0px;
    font-weight: bold;
}
table tr td:hover{
    opacity: 0.5;
}
.oneToTw button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 7px;
}
.thrtToTf button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 7px;
}
.twfToTs button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 7px; 
}
.oneToEt button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 7px;
}
.nineteenTtsix button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 7px;
}
.even button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 7px;
}
.odd button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 10px;
}
.twByOne1 button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 10px;
    padding: 15px 20px;
}
.twByOne2 button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 10px;
    padding: 15px 20px;
}
.twByOne3 button{
    background: transparent;
    border: 2px solid #475156;
    border-radius: 10px;
    padding: 15px 20px;
}


button:focus {

   outline: 0px dotted; 
   outline: 0px auto -webkit-focus-ring-color;
}
.table td{
    vertical-align: middle;
}

.bg-dark {
    background-color: #000000b8!important;
}
.__select{
    opacity: 0.5;
}